GitPython==3.1.40
Markdown==3.4.1
markdown-it-py==3.0.0
matplotlib==3.6.0
matplotlib-inline==0.1.6
numpy==1.23.4
pandas==2.1.3
plotly==5.10.0
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server @ git+https://github.com/deepnote/python-language-server.git@e6015dbebee8db15510d3c7412dbcfe04c34dd16
python-slugify==6.1.2
scikit-learn==1.1.2
seaborn==0.12.1
streamlit==1.29.0
streamlit-option-menu==0.3.6
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
